<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 加载本地的 properties 文件 -->
    <context:property-placeholder location="classpath*:/*.properties" />

	<http pattern="/resources/**" security="none"/>
	<http auto-config="true" >
		<form-login login-page="/user/login" default-target-url="/position/forIndex"
			authentication-failure-url="/user/login?error=true" />
		<logout logout-success-url="/user/login" />
		<csrf disabled="true"/>	
		<!-- 解决百度富文本编辑器 跨域问题 start -->
		<headers>
			<frame-options  policy="SAMEORIGIN" />
			<hsts disabled="true"/>
		</headers>
		<!-- 解决百度富文本编辑器 跨域问题 end -->
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="hydk78!@" password="kjhkh%%#@*kLOPhk" authorities="ROLE_ADMIN" />
				<user name="${admin.name}" password="${admin.password}" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>